{% extends "main.html" %}

{% block title %}تعديل معلومات الطبيب{% endblock title %}

{% block content %}


<body id="page-top">
    <!-- Page Wrapper -->
    <div id="wrapper">
        {% include "sidebar.html" %}
        <!-- Content Wrapper -->
        <div id="content-wrapper" class="d-flex flex-column">
            <!-- Main Content -->
            <div id="content">
                {% include "topbar.html" %}
                <div class="container-fluid">
                    <h1 class="h3 mb-2 text-gray-800">تعيل معلومات الطبيب {{ doctor.firstname }} {{ doctor.lastname }}</h1>
                    <div class="card shadow mb-4">
                        <div class="card-body">
                            <form method="post" enctype="multipart/form-data">
                                {% csrf_token %}
                                <!-- First Name and Last Name -->
                                <div class="row mb-4">
                                    <div class="col-md-6">
                                        <div class="form-outline">
                                            <input type="text" name="firstname" id="firstname" class="form-control" value="{{ doctor.firstname }}"
                                                required />
                                            <label class="form-label" for="firstname">الاسم الأول</label>
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="form-outline">
                                            <input type="text" name="lastname" id="lastname" class="form-control" value="{{ doctor.lastname }}"
                                                required />
                                            <label class="form-label" for="lastname">الاسم الأخير</label>
                                        </div>
                                    </div>
                                </div>

                                <!-- Gender and Specialization -->
                                <div class="row mb-4">
                                    
                                    <div class="col-md-6">
                                        <label class="form-label" for="gender">الجنس</label>
                                        <select class="form-select form-control" name="gender" required>
                                            {% if  doctor.gender == "M"  %}
                                            <option value="M">ذكر</option>
                                            <option value="F">أنثى</option>
                                            {% else %}
                                            <option value="F">أنثى</option>
                                            <option value="M">ذكر</option>
                                            {% endif %}

                                        </select>
                                       
                                    </div>
                                    <div class="col-md-6">
                                        <label class="form-label" for="specialization">الاختصاص</label>
                                        <select class="form-select form-control" name="specialization" required>
                                            <option value="{{ doctor.specialization.id }}" selected>
                                                {{ doctor.specialization.name }}
                                            </option>
                                        {% for specialization in specializations %}
                                        {% if specialization.id != doctor.specialization.id %}
                                        <option value="{{ specialization.id }}">{{ specialization.name }}</option>
                                        {% endif %}
                                        {% endfor %}
                                        </select>
                                        
                                    </div>
                                </div>
                                <!-- Additional Fields: Address, Governorate, Insurance Company, Phone Number, Description -->
                                <div class="row mb-4">
                                    
                                    <div class="col-md-6">
                                        <select class="form-select form-control" name="governorate" required>
                                            <option value="{{doctor.governorate.id}}" selected>{{ doctor.governorate.name }}</option>
                                            {% for governorate in governorates %}
                                            {% if governorate.id != doctor.governorate.id %}
                                           
                                            <option value="{{ governorate.id }}">{{ governorate.name }}</option>
                                            {% endif %}
                                            {% endfor %}
                                        </select>
                                        <label class="form-label" for="governorate">المحافظة</label>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="form-outline">
                                            <input type="text" name="address" id="address" class="form-control" value="{{ doctor.address }}" required />
                                            <label class="form-label" for="address">العنوان</label>
                                        </div>
                                    </div>
                                </div>

                                <div class="row mb-4">
                                    <div class="col-md-6">
                                        <label class="form-label" for="insurance_company">شركة التأمين</label>
                                        <select class="form-select form-control" name="insurance_company" required>
                                            <option value="{{doctor.insurancecompany.id}}" selected>{{ doctor.insurancecompany.name }}</option>
                                            {% for company in insurance_companies %}
                                            {% if company.id != doctor.insurancecompany.id %}
                                            
                                            <option value="{{ company.id }}">{{ company.name }}</option>
                                            {% endif %}
                                            {% endfor %}
                                        </select>
                                        
                                    </div>
                                    <div class="col-md-6">
                                        <div class="form-outline">
                                            <label class="form-label" for="phone">رقم الهاتف</label>
                                            <input type="tel" name="phone" id="phone" class="form-control" value="{{ doctor.phone_number }}"
                                                pattern="[0-9]{10}" required />
                                            
                                        </div>
                                    </div>
                                </div>

                                <div class="row mb-4">
                                    <div class="col-md-6">
                                        <div class="form-outline">
                                            <label class="form-label" for="picture">الصورة الشخصية</label>
                                            <input type="file" name="picture" id="picture" class="form-control" value="{{ doctor.profile_picture }}" />
                                            
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="form-outline">
                                            <label class="form-label" for="description">الوصف</label>
                                            <textarea name="description" id="description" class="form-control" 
                                                rows="3">{{ doctor.descriptions }}</textarea>
                                            
                                        </div>
                                    </div>

                                </div>


                                <!-- Dynamic Day and Time Schedule -->
                                <div class="row mb-4">
                                    <div class="col-md-12">
                                        <h5>جدول العمل</h5>
                                        <div id="schedule-container">
                                            <div class="schedule-item">
                                                <button class="close" type="button" aria-label="Close"
                                                    onclick="removeScheduleItem(this)">
                                                    <span aria-hidden="true">×</span>
                                                </button>
                                                <div class="row">

                                                    <div class="col-md-4">

                                                        <select class="form-select form-control" name="days[]" required>
                                                            <option value="Sunday">الأحد</option>
                                                            <option value="Monday">الإثنين</option>
                                                            <option value="Tuesday">الثلاثاء</option>
                                                            <option value="Wednesday">الأربعاء</option>
                                                            <option value="Thursday">الخميس</option>
                                                            <option value="Friday">الجمعة</option>
                                                            <option value="Saturday">السبت</option>
                                                        </select>
                                                        <label>اليوم</label>

                                                    </div>
                                                    <div class="col-md-4">
                                                        <input type="time" class="form-control" name="start_times[]"
                                                            required pattern="[0-9]{2}:[0-9]{2}" />
                                                        <label>وقت البداية</label>
                                                    </div>
                                                    <div class="col-md-4">
                                                        <input type="time" class="form-control" name="end_times[]"
                                                            required pattern="[0-9]{2}:[0-9]{2}" />
                                                        <label>وقت النهاية</label>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <button type="button" class="btn btn-secondary mt-3" id="add-schedule">إضافة
                                            يوم</button>
                                    </div>
                                </div>

                                <!-- Submit Button -->
                                <div class="row mb-4">
                                    <div class="col-md-12 text-center">
                                        <input type="submit" class="btn btn-primary mb-4" value="تعديل">
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Edit Modal -->
    <div class="modal fade" id="editModal" tabindex="-1" role="dialog" aria-labelledby="editModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <form id="editForm">
                    {% csrf_token %}
                    <div class="modal-header">
                        <h5 class="modal-title" id="editModalLabel">تعديل المعلومات</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <input type="hidden" id="doctorId" name="doctorId">
                        <div class="form-group">
                            <label for="firstname">الاسم الأول</label>
                            <input type="text" class="form-control" id="firstname" name="firstname">
                        </div>
                        <div class="form-group">
                            <label for="lastname">الاسم الأخير</label>
                            <input type="text" class="form-control" id="lastname" name="lastname">
                        </div>
                        <div class="form-group">
                            <label for="gender">الجنس</label>
                            <select class="form-control" id="gender" name="gender">
                                <option value="M">ذكر</option>
                                <option value="F">أنثى</option>
                            </select>
                        </div>
                        <div class="form-group">
                            <label for="specialization">الاختصاص</label>
                            <select class="form-control" id="specialization" name="specialization">
                                {% for specialization in specializations %}
                                <option value="{{ specialization.id }}">{{ specialization.name }}</option>
                                {% endfor %}
                            </select>
                        </div>
                        <div class="form-group">
                            <label for="insurancecompany">شركة التأمين</label>
                            <select class="form-control" id="insurancecompany" name="insurancecompany">
                                {% for insurance in insurancecompanies %}
                                <option value="{{ insurance.id }}">{{ insurance.name }}</option>
                                {% endfor %}
                            </select>
                        </div>
                        <div class="form-group">
                            <label for="governorate">المحافظة</label>
                            <select class="form-control" id="governorate" name="governorate">
                                {% for governorate in governorates %}
                                <option value="{{ governorate.id }}">{{ governorate.name }}</option>
                                {% endfor %}
                            </select>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">إلغاء</button>
                        <button type="submit" class="btn btn-primary">تأكيد التعديل</button>
                    </div>
                </form>
            </div>
        </div>
    </div>

</body>

<script>
    // Function to remove the specific schedule item
    function removeScheduleItem(button) {
        // Get the parent schedule item and remove it
        button.closest('.schedule-item').remove();
    }

    // JavaScript to add new schedule rows
    document.getElementById('add-schedule').addEventListener('click', function () {
        const scheduleContainer = document.getElementById('schedule-container');

        const newScheduleItem = document.createElement('div');
        newScheduleItem.classList.add('schedule-item');

        newScheduleItem.innerHTML = `
            <button class="close" type="button" aria-label="Close" onclick="removeScheduleItem(this)">
                <span aria-hidden="true">×</span>
            </button>
            <div class="row">
                <div class="col-md-4">
                    <select class="form-select form-control" name="days[]" required>
                        <option value="Sunday">الأحد</option>
                        <option value="Monday">الإثنين</option>
                        <option value="Tuesday">الثلاثاء</option>
                        <option value="Wednesday">الأربعاء</option>
                        <option value="Thursday">الخميس</option>
                        <option value="Friday">الجمعة</option>
                        <option value="Saturday">السبت</option>
                    </select>
                    <label>اليوم</label>
                </div>
                <div class="col-md-4">
                    <input type="time" class="form-control" name="start_times[]" required pattern="[0-9]{2}:[0-9]{2}" />
                    <label>وقت البداية</label>
                </div>
                <div class="col-md-4">
                    <input type="time" class="form-control" name="end_times[]" required pattern="[0-9]{2}:[0-9]{2}" />
                    <label>وقت النهاية</label>
                </div>
            </div>
        `;
        scheduleContainer.appendChild(newScheduleItem);
    });
</script>

{% endblock content %}