{% extends "main.html" %}

{% block title %}تعديل مستخدم{% endblock title %}

{% block content %}

<body id="page-top">
    <div id="wrapper">
        {% include "sidebar.html" %}
        <div id="content-wrapper" class="d-flex flex-column">
            <div id="content">
                {% include "topbar.html" %}
                <div class="container-fluid">
                    <h2 class="h3 mb-2 text-gray-800">{{ user_profile.user.first_name }} {{ user_profile.user.last_name }}</h2>
                    <div class="card shadow mb-4">
                        <div class="card-body">
                            <form method="post" enctype="multipart/form-data">
                                {% csrf_token %}

                                <!-- Username and Password -->
                                <div class="row mb-4">
                                    <div class="col-md-6">
                                        <div class="form-outline">
                                            <label class="form-label" for="username">اسم المستخدم</label>
                                            <input type="text" name="username" id="username" class="form-control" value="{{ user_profile.user.username }}"
                                                required />

                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="form-outline">
                                            <label class="form-label" for="password">كلمة المرور</label>
                                            <span onclick="togglePassword()"
                                                class="position-absolute top-50 end-0 translate-middle-y pe-3 cursor-pointer">
                                                <i class="fas fa-eye" id="togglePasswordIcon"></i>
                                            </span>
                                            <input type="password" name="password" id="password" class="form-control" 
                                                required />

                                        </div>
                                    </div>
                                </div>

                                <!-- First Name and Last Name -->
                                <div class="row mb-4">
                                    <div class="col-md-6">
                                        <div class="form-outline">
                                            <label class="form-label" for="first_name">الاسم الأول</label>
                                            <input type="text" name="first_name" id="first_name" class="form-control" value="{{ user_profile.user.first_name }}"
                                                required />

                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="form-outline">
                                            <label class="form-label" for="last_name">الاسم الأخير</label>
                                            <input type="text" name="last_name" id="last_name" class="form-control" value="{{ user_profile.user.last_name }}"
                                                required />

                                        </div>
                                    </div>
                                </div>

                                <!-- Gender and Role -->
                                <div class="row mb-4">
                                    <div class="col-md-6">
                                        <label class="form-label" for="gender">الجنس</label>
                                        <select class="form-select form-control" name="gender" required>
                                            {% if user_profile.gender == "M" %}
                                            <option value="M">ذكر</option>
                                            <option value="F">أنثى</option>
                                            {% else %}
                                            <option value="F">أنثى</option>
                                            <option value="M">ذكر</option>
                                            {% endif %}


                                        </select>

                                    </div>
                                    <div class="col-md-6">
                                        <label class="form-label" for="role">نوع المستخدم</label>
                                        <select class="form-select form-control" name="role" required>
                                            {% if user_profile.role == "admin" %}
                                            <option value="admin">مدير</option>
                                            <option value="regular_user">مستخدم عادي</option>
                                            {% else %}
                                            <option value="regular_user">مستخدم عادي</option>
                                            <option value="admin">مدير</option>
                                            {% endif %}
                                            
                                        </select>

                                    </div>
                                </div>

                                <!-- Profile Picture -->
                                <div class="row mb-4">
                                    <div class="col-md-6">
                                        <div class="form-outline">
                                            <label class="form-label" for="profile_picture">الصورة الشخصية</label>
                                            <input type="file" name="profile_picture" id="profile_picture"
                                                class="form-control" />

                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="form-outline">
                                            <label class="form-label" for="phone">رقم الهاتف</label>
                                            <input type="text" name="phone" id="phone" class="form-control" value="{{ user_profile.phone }}" required />

                                        </div>
                                    </div>
                                </div>

                                <!-- Phone Number -->
                                <div class="row mb-4">


                                    <!-- Address -->
                                    <div class="col-md-6">
                                        <div class="form-outline">
                                            <label class="form-label" for="address">العنوان</label>
                                            <textarea class="form-control" name="address" id="address" rows="3"
                                                required>{{ user_profile.address }}</textarea>

                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="form-outline">
                                            <label class="form-label" for="description">الوصف</label>
                                            <textarea class="form-control" name="description" id="description"
                                                rows="3">{{ user_profile.description }}</textarea>

                                        </div>
                                    </div>
                                </div>

                                <!-- Notes -->


                                <!-- Submit Button -->
                                <div class="row mb-4">
                                    <div class="col-md-12 text-center">
                                        <input type="submit" class="btn btn-primary mb-4" value="تعديل">
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script>
        function togglePassword() {
            const passwordInput = document.getElementById("password");
            const icon = document.getElementById("togglePasswordIcon");

            if (passwordInput.type === "password") {
                passwordInput.type = "text";
                icon.classList.remove("fa-eye");
                icon.classList.add("fa-eye-slash");
            } else {
                passwordInput.type = "password";
                icon.classList.remove("fa-eye-slash");
                icon.classList.add("fa-eye");
            }
        }
    </script>

</body>
{% endblock content %}